:root {
    --bs-body-color: #dee2e6;
    --bs-body-color-rgb: 222, 226, 230;
    --bs-body-bg: #000 !important;
    --bs-body-bg-rgb: 33, 37, 41;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(222, 226, 230, 0.75);
    --bs-secondary-color-rgb: 222, 226, 230;
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: rgba(222, 226, 230, 0.5);
    --bs-tertiary-color-rgb: 222, 226, 230;
    --bs-tertiary-bg: #2b3035;
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #296aca;
    --bs-link-hover-color: #ffffff !important;
    --bs-link-color-rgb: 110, 168, 254;
    --bs-link-hover-color-rgb: 139, 185, 254;
    --bs-code-color: #e685b5;
    --bs-highlight-color: #dee2e6;
    --bs-highlight-bg: #664d03;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
}



#coolmathgames {
    width: 1520px;
    padding-left: 1em;
    border: 3px red solid;
    
    margin-bottom: 2.4rem;
    padding-bottom: 0.8rem;
    justify-content: center;
}

main {
    background-color: black;
    width: 1000px;
    height: fit-content;
    margin: 6rem auto 0;
    padding: 2.4rem;
    
    border: 4px solid rgb(255, 0, 0);
}

#Game1 {
    height: 100px;
        float: left;
    margin: 5px;
    padding: 5px;
    padding-bottom: 5px;
    
}

#Game2 {
    height: 100px;
        float: left;
    margin: 5px;
    padding: 5px;
    padding-bottom: 5px;
    
}

#Game3 {
    height: 100px;
        float: left;
    margin: 5px;
    padding: 5px;
    padding-bottom: 5px;
    
}

#Game4 {
    height: 100px;
        float: left;
    margin: 5px;
    padding: 5px;
    padding-bottom: 5px;
    
}

#Game5 {
    height: 100px;
        float: left;
    margin: 5px;
    padding: 5px;
    padding-bottom: 5px;
    
}

#Placeholder {
    height: 100px;
        float: left;
    margin: 5px;
    padding: 5px;
    padding-bottom: 5px;
    
}

col{
    align-content: end;
}

section{
    padding-bottom: 2em;
}



section.type-a{
    padding-left: 25em;
}

h1{
    color: red!important;
    background-color: rgb(255, 238, 4)!important;
    border-radius: .2em;
    font-family: fantasy; 
}


