main {
    background-color: snow;
    width: 1000px;
    height: 700px;
    margin: 12rem auto 0;
    padding: 2.4rem;
    border-radius: 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

body{
    background-color: #6577e6;;
}

#gromit-img{
    height: 400px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#pikachu-img{
    height: 400px;
    width: 400px;
     border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#Money-img{
    height: 400px;
    width: 400px;
     border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#terraria-img{
    height: 400px;
    width: 400px;
     border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: "Cedarville Cursive", cursive;
    border-bottom: 3px black solid;
    text-align: center;
    font-size: 3em;
    margin-bottom: 2.4rem;
    padding-bottom: 0.8rem;
}
 
p {
    font-size: 1.3rem;
    margin-bottom: 1em;
}
 
h4 {
    font-size: 1.3em;
    margin-bottom: 1rem;
}
 
ul {
    margin-left: 1rem;
    columns: 2;
}
 
li {
    padding-right: 1em;
    font-size: 1.2rem;
    line-height: 1.8em;
}